.button {
  color: white;
  background-color: var(--color-primary);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--color-secondary);
}
