header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  width: min(100%, 1000px);
  padding: 1rem 2rem;
  color: var(--color-primary);
}

header div {
  line-height: 1.2;
}

header div h1 {
  font-size: 2.3rem;
  font-weight: 700;
}

header div p {
  font-size: 1.3rem;
  font-weight: 500;
}

@media (width >= 768px) {
  header {
    justify-content: space-between;
  }
  header div {
    text-align: end;
  }
  header div h1 {
    font-size: 3rem;
  }
  header div p {
    font-size: 1.5rem;
  }
  header img {
    width: 150px;
  }
}
