main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
}
.button-container select {
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  padding: 0.45rem 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color-primary);
  background-color: white;
}

select {
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

select:hover {
  box-shadow: 0 0 5px var(--color-primary);
}

@media (width >= 768px) {
  .button-container {
    width: 800px;
    justify-content: space-between;
  }
}
